<div id="loginContainer">
    <!--CustomerLogin-->
    <div class="row content w-100">
        <div class="col-md-6 w-100 m-auto">
            <div class="loginForm">
                <!-- Login form -->
                <form action="#" *ngIf="showLogin"
                    class="form d-flex flex-column justify-content-center align-items-center mb-3" ngNativeValidate>
                    <h2>Login</h2>
                    <div class="input">
                        <i class="fa-solid fa-at"></i>
                        <input type="email" placeholder="Enter your email" required #email>
                    </div>
                    <div class="input">
                        <i class="fa-solid fa-key"></i>
                        <input [type]="password" placeholder="Enter your password" minlength="8" required #passwordVal>
                        <button class="unhidePass" (click)="onClick()">
                            <i class="fa fa-eye" aria-hidden="true" *ngIf="!show"></i>
                            <i class="fa fa-eye-slash" aria-hidden="true" *ngIf="show"></i>
                        </button>
                    </div>
                    <button class="btn loginBtn" (click)="login(email.value, passwordVal.value)">Login!</button>
                    <div class="formChange">
                        Don't have an account yet?
                        <p (click)="showRegistrationForm()">Register now!</p>
                    </div>
                </form>
                <!-- Registration form -->
                <form action="#" *ngIf="showRegistration"
                    class="form d-flex flex-column justify-content-center align-items-center mb-3" ngNativeValidate>
                    <h2>Registration</h2>
                    <div class="input">
                        <i class="fa-solid fa-user"></i>
                        <input type="text" placeholder="Enter your name" required #name>
                    </div>
                    <div class="input">
                        <i class="fa-solid fa-at"></i>
                        <input type="email" placeholder="Enter your email" required #email>
                    </div>
                    <div class="input">
                        <i class="fa-solid fa-key"></i>
                        <input [type]="password" placeholder="Enter your password" minlength="8" required #passwordVal>
                        <button class="unhidePass" (click)="onClick()">
                            <i class="fa fa-eye" aria-hidden="true" *ngIf="!show"></i>
                            <i class="fa fa-eye-slash" aria-hidden="true" *ngIf="show"></i>
                        </button>
                    </div>
                    <div class="input">
                        <i class="fa-solid fa-lock"></i>
                        <input type="password" placeholder="Enter your password again" minlength="8" required>
                    </div>
                    <div class="input">
                        <i class="fa-solid fa-phone"></i>
                        <input type="number" pattern="^[0-9]{10}$" placeholder="Enter your Number" minlength="10"
                            maxlength="10" required #contact>
                    </div>
                    <div class="input">
                        <i class="fa-solid fa-location-dot"></i>
                        <input type="text" placeholder="Enter your Address" required #address>
                    </div>
                    <button class="btn registerBtn"
                        (click)="register(email.value, passwordVal.value,name.value,contact.value,address.value)">Register!</button>
                    <div class="formChange register">
                        Already have an account?
                        <p (click)="showLoginForm()">Login now!</p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>