#loginContainer {
    margin-bottom: 10rem;
}

/* Forms */
form {
    width: 30rem;
    background-color: white;
    margin: auto;
    margin-top: -5rem;
    border-radius: 3rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 5px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

/* form header */
/* Merchant login / merchant registration */
form h2 {
    margin: 3rem 0;
}

/* Input fields */
.input {
    width: 80%;
    padding: 0.5rem;
    margin: 1rem;
    border: 1px black solid;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input {
    width: 100%;
    text-align: center;
    border: none;
    outline: none;
    transition: 500ms all
}

input::placeholder {
    font-weight: 5px !important;
}

/* hide/unhide password */
.unhidePass {
    background: none;
    outline: none;
    border: none;
}

/* Submit button -  Login button */
form>button {
    font-family: 'Poppins', sans-serif;
    color: white;
    width: 8rem;
    margin: 2rem 0;
    /* shadows */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
}

/* Login button*/
.loginBtn {
    background-color: #D90429;
}

/* Register button*/
.registerBtn {
    background-color: #0480D9;
}

/* change to login or registration form */
.formChange p {
    color: #0480D9;
    cursor: pointer;
}

.formChange.register p {
    color: #D90429;
}

/* to remove the up and down button in number input box */
.input input::-webkit-outer-spin-button,
.input input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}