<div class="row" style="margin-bottom: 70px;">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h1 class="fontNew">Browse Your Favourite Foods</h1>

    </div>
    <div class="col-md-2"></div>
</div>


<!-- 1st row -->
<div class="row">

    <div class="col-md-2"></div>
    <div class="col-md-3">
        <div class="card mb-3">
            <img src="https://images.unsplash.com/photo-1585032226651-759b368d7246?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=692&q=80"
                class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">Noodles</h5>
                <p><small>Veg/Non-Veg</small></p>
                <p class="card-text" style="padding-top:1px;">Rs. 275/-</p>
                <button class="btn btn-light">Add to Cart</button>
            </div>
        </div>
    </div>
    <!-- <div class="col-md-1"></div> -->
    <div class="col-md-3">
        <div class="card mb-3">
            <img src="https://images.unsplash.com/photo-1638537125835-82acb38d3531?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
                class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">Shawarma</h5>
                <p><small>Non-Veg</small></p>
                <p class="card-text" style="padding-top:60px;">Rs. 150/-</p>
                <button class="btn btn-light">Add to Cart</button>
            </div>
        </div>
    </div>
    <!-- <div class="col-md-1"></div> -->
    <div class="col-md-3">
        <div class="card mb-3">
            <img src="https://images.unsplash.com/photo-1551782450-17144efb9c50?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=869&q=80"
                class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">Burger</h5>
                <p><small>Veg/Non-Veg</small></p>
                <p class="card-text" style="padding-top:60px;">From Rs. 250/-</p>
                <button class="btn btn-light">Add to Cart</button>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>

</div>




<!-- 2nd row -->
<div class="row">

    <div class="col-md-2"></div>
    <div class="col-md-3">
        <div class="card mb-3">
            <img src="https://images.unsplash.com/photo-1513104890138-7c749659a591?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
                class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">Pizza</h5>
                <p><small> Veg/Non-Veg</small></p>
                <p class="card-text" style="padding-top:120px;">From Rs. 350</p>
                <button class="btn btn-light">Add to Cart</button>
            </div>
        </div>
    </div>
    <!-- <div class="col-md-1"></div> -->
    <div class="col-md-3">
        <div class="card mb-3">
            <img src="https://himalayasmountain.com/wp-content/uploads/2022/11/Dharahara-ko-Momo.png"
                class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">Momo</h5>
                <p><small>Veg/Non-Veg</small></p>
                <p class="card-text" style="padding-top:0;">From Rs 60/-</p>
                <button class="btn btn-light">Add to Cart</button>
            </div>
        </div>
    </div>
    <!-- <div class="col-md-1"></div> -->
    <div class="col-md-3">
        <div class="card mb-3">
            <img src="https://media.istockphoto.com/id/1367313538/photo/korean-food.jpg?b=1&s=170667a&w=0&k=20&c=ntCuK6KFrbLEDBrsNfzhNPuxKgWTH7Vsdq7BYS19z1Q="
                class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">Ramen Bowls</h5>
                <p><small>Veg/Non-Veg</small></p>
                <p class="card-text" style="padding-top:120px;">From Rs 180/-</p>
                <button class="btn btn-light">Add to Cart</button>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>

</div>





<!-- 3rd row -->
<div class="row">

    <div class="col-md-2"></div>
    <div class="col-md-3">
        <div class="card mb-3">
            <img src="https://images.unsplash.com/photo-1601050690597-df0568f70950?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
                class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">Samosa</h5>
                <p><small> Veg</small></p>
                <p class="card-text" style="padding-top:30px;">Rs. 20/-</p>
                <button class="btn btn-light">Add to Cart</button>
            </div>
        </div>
    </div>
    <!-- <div class="col-md-1"></div> -->
    <div class="col-md-3">
        <div class="card mb-3">
            <img src="https://media.istockphoto.com/id/516688047/photo/homemade-autumn-pumpkin-muffin.jpg?b=1&s=170667a&w=0&k=20&c=3hFBoiexSR8dacFvV9MfVmM2RTfgSxmlpB9vl8qYIzg="
                class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">Muffins</h5>
                <p><small>Veg/Non-Veg</small></p>
                <p class="card-text" style="padding-top:30px;">From Rs. 30/-</p>
                <button class="btn btn-light">Add to Cart</button>
            </div>
        </div>
    </div>
    <!-- <div class="col-md-1"></div> -->
    <div class="col-md-3">
        <div class="card mb-3">
            <img src="https://images.unsplash.com/photo-1552590635-27c2c2128abf?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8Mnw4OTg3MTY3NHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60"
                class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">Biryani</h5>
                <p><small>Non-Veg</small></p>
                <p class="card-text" style="padding-top:30px;">Rs 250/-</p>
                <button class="btn btn-light">Add to Cart</button>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>

</div>

<!-- Self generated row->ngfor with backend -->




<div class="card no-border">
    <div class="card-body">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-3" *ngFor="let item of arrayOfItems">
                <div class="card mb-3">
                    <img src="https://images.unsplash.com/photo-1534422298391-e4f8c172dddb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=869&q=80"
                        class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">{{item.name}}</h5>
                        <p class="card-text">{{item.description}}</p>
                        <p class="card-text">{{item.price}}</p>
                        <button class="btn btn-light">Add to Cart</button>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</div>