<div class="container-fluid home text-center">
  <nav class="navbar bg-body-tertiary bg-success" style="background-color:none">
    <div class="container">
      <a class="navbar-brand" href="#">
        Burger
      </a>
    </div>
  </nav>
  <!-- background image and overlay -->
  <div class="backgroundImage" [ngStyle]="{'background-image':'url('+images[1]+')'}"></div>
  <div class="overlay"></div>
  <!--  -->
  <div class="title h-100 d-flex flex-column justify-content-center align-items-center text-center">
    <h1 class="display-1">Zwiggy</h1>
    <h1 class="display-4">2023</h1>
  </div>
</div>