<div id="loginRegContainer" class="d-flex justify-content-around align-items-center">
    <button class="btn" (click)="displayRegistrationForm()">Add restaurant</button>
    <button class="btn" (click)="displayLoginForm()">Merchant Login</button>
</div>
<div class="form-container d-flex flex-column justify-content-center align-items-center text-center"
    *ngIf="displayRegistration==true">
    <div class="col-md-12">
        <form action="#" class="form d-flex flex-column justify-content-center align-items-center mb-3" ngNativeValidate
            (ngSubmit)="register(emailValue.value, passwordValue.value,nameValue.value,passwordAgainValue.value)">
            <div class="closeForm mt-3 position-relative m-auto" (click)="closeForm()" title="Close">
                <i class="fa-solid fa-xmark"></i>
            </div>
            <h2>Merchant Registration</h2>
            <div class="input">
                <i class="fa-solid fa-at"></i>
                <input type="email" placeholder="Enter your email" required #emailValue>
            </div>
            <div class="input">
                <i class="fa-solid fa-house-chimney"></i>
                <input type="text" placeholder="Enter restaurant name" required #nameValue>
            </div>
            <div class="input">
                <i class="fa-solid fa-key"></i>
                <input [type]="password" placeholder="Enter your password" minlength=8 required #passwordValue>
                <button class="unhidePass" (click)="onClick()">
                    <i class="fa fa-eye" aria-hidden="true" *ngIf="!show"></i>
                    <i class="fa fa-eye-slash" aria-hidden="true" *ngIf="show"></i>
                </button>
            </div>
            <div class="input">
                <i class="fa-solid fa-lock"></i>
                <input type="password" placeholder="Enter your password again" minlength=8 required #passwordAgainValue>
            </div>
            <button class="btn registerBtn">Register!</button>
            <div class="formChange register">
                Already registered?
                <p (click)=" displayLoginForm()">Login now!</p>
            </div>
        </form>
    </div>
</div>
<div class="form-container d-flex flex-column justify-content-center align-items-center text-center"
    *ngIf="displayLogin==true">
    <div class="col-md-12">
        <form action="#" class="form d-flex flex-column justify-content-center align-items-center mb-3" ngNativeValidate
            (ngSubmit)="login(emailValue.value, passwordValue.value)">
            <div class="closeForm mt-3 position-relative m-auto" (click)="closeForm()" title="Close">
                <i class="fa-solid fa-xmark"></i>
            </div>
            <h2>Merchant Login</h2>
            <div class="input">
                <i class="fa-solid fa-at"></i>
                <input type="email" placeholder="Enter your email" required #emailValue>
            </div>
            <div class="input">
                <i class="fa-solid fa-key"></i>
                <input [type]="password" placeholder="Enter your password" minlength=8 required #passwordValue>
                <button class="unhidePass" (click)="onClick()">
                    <i class="fa fa-eye" aria-hidden="true" *ngIf="!show"></i>
                    <i class="fa fa-eye-slash" aria-hidden="true" *ngIf="show"></i>
                </button>
            </div>
            <button class="btn loginBtn">Login!</button>
            <div class="formChange">
                Don't have an account yet?
                <p (click)=" displayRegistrationForm()">Register now!</p>
            </div>
        </form>
    </div>
</div>

<!-- Why be a part of us section -->
<div id="whyUs" class="d-flex flex-column justify-content-center align-items-center mb-5">
    <h1 class="display-6"><b>Why be a part of us?</b></h1>
    <div class="info mt-5 w-75 text-justify">
        <div class="row content">
            <div class="row text-center">
                <div class="col-lg-6 col-12">
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam, aut aspernatur itaque eius
                        tempore, vel deserunt officiis omnis, reprehenderit vitae aliquam at dolorum fugiat voluptatibus
                        libero dolores est quasi molestiae!
                    </p>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam atque beatae praesentium,
                        similique saepe consequatur enim, temporibus quos, officia molestias sed provident reiciendis
                        nisi. Aperiam quidem magni aliquam incidunt nam.
                    </p>
                    <br>
                    <p class="text-center blockquote">Come, grow with us!</p>
                    <p class="text-center blockquote-footer">Team Zwiggy</p>
                </div>
                <div class="col-lg-6 col-12 text-center">
                    <img class="w-75" src="../../assets/undraw_stepping_up_g6oo.svg" alt="Success">
                </div>
            </div>
        </div>
    </div>
</div>